
<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="http://opendatakosovo.org/">TECHSTITUTION</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Forma</a></li>
            <li><a href="/show">Lista</a></li>
            <li><a href="https://mpb.rks-gov.net/QKMK.aspx">QKMK</a></li>
            <li><a href="https://github.com/KosmosD">Contact</a></li>

          </ul>
        </div>
      </nav>
